@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container mt-3">
    <h2>Embedded Blazor Component</h2>

    <component type="typeof(StudentInfoLoginRoles.Components.ImageGenerator)"
               render-mode="ServerPrerendered" />
</div>
